* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
      color: #cad7cf;
  }

.headerComponent{
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px;
  margin: 5px;
  margin-left: 125px;
}

.center-flex{
  display: flex;
  align-items: center;
  justify-content: center;
}

.about{
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px;
  margin: 10px;
  margin-left: 130px;
}

.portfolio-left{
  background-color: rgba(0, 0, 0, 0.3);
  margin: 10px;
  margin-left: 130px;
  padding: 10px;
  display: flex;
  justify-content: left;
 }

.portfolio-right{
  background-color: rgba(0, 0, 0, 0.3);
  margin: 10px;
  margin-left: 130px;
  padding: 10px;
  display: flex;
  justify-content: right;
}

.sidebar {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 120px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  transition: width 0.04s;
}

.sidebar ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Evenly space items vertically */
  height: 100%; /* Fill the height of the sidebar */
  padding: 0;
  margin: 0;
}

.sidebar li {
  list-style: none;
  padding: 10px;
  width: 100%;
}

.sidebar li:hover {
  cursor: pointer;
}